<table class="table table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                CAMPUS
            </th>  
            <th>
                TÍTULO
            </th>        
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let carrera of service.list_carreras" style="cursor: default;">
        <td (click)="editCarrera(carrera)">{{carrera.id_carrera}}</td>
        <td (click)="editCarrera(carrera)">{{carrera.nombre}}</td>
        <td (click)="editCarrera(carrera)">{{carrera.campus}}</td>
        <td (click)="editCarrera(carrera)">{{carrera.titulo}}</td>
        <td>
            <button [routerLink]="['/carreras', carrera.id_carrera]" class="btn btn-sm btn-info" ><fa-icon [icon]="faEye"></fa-icon></button>
            <button (click)="editCarrera(carrera)" class="btn btn-sm btn-warning" ><fa-icon [icon]="faPencilAlt"></fa-icon></button>
            <button (click)="onDelete(carrera)" class="btn btn-sm btn-danger" ><fa-icon [icon]="faTrash"></fa-icon></button>
        </td>
    </tr>
</table>