<div style="padding-top: 50px;">
    <h2>DATOS</h2>
</div>
<div class="container" style="padding-top: 50px;">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faIdCard'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Nombre</small>
                <p class="h6"><strong>{{carrera.nombre}}</strong></p>
            </div>
        </div>  
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Campus</small>
                <p class="h6"><strong>{{carrera.campus}}</strong></p>
            </div>
        </div>        
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Titulo</small>
                <p class="h6"><strong>{{carrera.titulo}}</strong></p>
            </div>
        </div>
        
    </div>
</div>